body {
    box-sizing: border-box;
    padding: 0;
    background-color: rgb(254, 235, 211);
    /* height: 900px; */
    /* width: 1440px; */
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 18px;
    font-family: sans-serif;
}

.balance {
    color: rgb(253, 244, 233);
    border-radius: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: hsl(10, 79%, 65%);
    padding: 25px;
    width: 400px;
    height: 60px;
}

.balance p {
    margin: 10px;
}

.balance h1 {
    margin: 10px;
}

.circle {
    /* border:1px solid hsl(27, 66%, 92%); */
    display: flex;
    align-items: center;
    height: 40px;
    width: 67px;
    margin: 10px;
}

.circle-1 {
    border: 1px solid hsl(27, 66%, 92%);
    height: 39px;
    width: 39px;
    border-radius: 50%;
    z-index: 1;
    position: absolute;
}

.circle-2 {
    background-color: hsl(25, 47%, 15%);
    height: 40px;
    width: 40px;
    border-radius: 50%;
    position: absolute;
    margin-left: 22px;

}


.chart {
    color: hsl(25, 47%, 15%);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    background-color: rgb(253, 244, 233);
    padding: 25px;
}

.chart-bars {
    border: 2px solid rgb(90, 90, 90);
    height: 200px;
    width: 400px;
}

.chart-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 18px;
}

.month-total h1 {
    margin: 0px;
}

.month-total p {
    margin: 0;
    font-weight: 400;
    color: hsl(28, 10%, 53%);
}

.last-month h4 {
    margin-bottom: 0px;
    text-align: right;
}

.last-month p {
    margin: 0px;
    font-weight: 400;
    color: hsl(28, 10%, 53%);
}